<div class="container">
  <mat-toolbar color="accent">
    <div layout="row">
      <mat-toolbar-row>
        <h1>{{ title }}</h1>
        <mat-nav-list>
          <mat-toolbar-row>
            <a mat-list-item routerLink="/dashboard">Dashboard</a>

            <a mat-list-item routerLink="/heroes">Heroes</a>
          </mat-toolbar-row>
        </mat-nav-list>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>
  <br />

  <router-outlet></router-outlet>
  <br />
  <app-message></app-message>
</div>
