<h2>My Heroes</h2>

<mat-card>
  <label for="new-hero">Hero name:</label>
  <input mat-input id="new-hero" #heroName />

  <button mat-raised-button (click)="add(heroName.value)">Add Hero</button>
</mat-card>

<mat-list>
  <mat-list-item *ngFor="let hero of heroes">
    <a
      mat-raised-button
      color="primary"
      routerLink="/detail/{{ hero.id }}"
      matBadge="{{ hero.appId }}"
      matBadgePosition="before"
      matBadgeColor="accent"
    >
      {{ hero.name }}
    </a>
    <button mat-raised-button (click)="delete(hero)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<app-hero-detail></app-hero-detail>
