<div>
  <mat-form-field>
    <input
      matNativeControl
      #searchBox
      id="search-box"
      (input)="search()"
      [(ngModel)]="searchValue"
      placeholder="Hero Name"
    />
  </mat-form-field>
  <!-- <button mat-raised-button color="accent" (click)="search(searchBox.value)">
    Search
  </button> -->

  <mat-list *ngIf="searchValue">
    <mat-list-item *ngFor="let result of results | async">
      <a routerLink="/detail/{{ result.id }}" mat-raised-button color="accent">
        {{ result.name }}
      </a>
    </mat-list-item>
  </mat-list>
</div>
